* {
    margin: 0;
}

body {
    
}

.container {
    display: grid; 
    grid-template-columns: 20% 60% 20%; 
    grid-template-rows: 5% auto auto 20%; 
    /* gap: 5px 5px;  */
    grid-template-areas: 
    "navbar navbar navbar"
    "header header header"
    ". events ."
    "footer footer footer"; 
}

.navbar { 
    grid-area: navbar; 
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 25vw 75vw;
    align-items: center;
    justify-content: center;
}

.nav-links {
    width: 40vw;
    display: flex;
    justify-content: space-between;
    padding: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.nav-links > a:link {
    text-decoration: none;
    color: white; !important
}

.title {
    display: flex;
    justify-content: center;
}

.header { 
    grid-area: header; 
    color: aliceblue;
    position: relative;
    text-align: center;
    font-size: 4vw;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, serif;

}

.month {
    background-color: whitesmoke;
    border: 1px solid gray;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.img-head {
    width: 100%;
}

.footer { 
    grid-area: footer; 
    display: flex;
}

.events { 
    grid-area: events; 
}

.flyer {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
}

.card {
    background-color: rgb(230, 113, 17);
    padding: 1em;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 1vh;
}

.event-card > p {
    margin: 2vh 0;
}

.more-link {
    display: flex;
    justify-content: space-around;
}

.more-link > a {
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(236, 141, 63);
}

#theater-background {
    width: 100%;
    height: auto;
}

.more-link > a:hover {
    font-size: larger;
    color: aliceblue;
}